body, .quarto-dashboard, .page-layout-custom {
    background-color: #121212 !important;
    color: white !important;
}

.card, .bslib-card, .tab-content {
    background-color: #1e1e1e !important;
    border: 1px solid #333 !important;
    color: white !important;
}

thead, .thead, th, .table thead th {
    background-color: #000000 !important;
    color: #0be7d5 !important;
    border-bottom: 2px solid #333 !important;
}

/* Corrigir a cor do texto enquanto escreves na pesquisa */
.oi-7b700f-search input, 
div[class*="oi-"] input {
    background-color: #2a2a2a !important; /* Fundo cinza escuro */
    color: white !important;              /* Letra branca */
    border: 1px solid #444 !important;    /* Borda suave */
    border-radius: 4px;
    padding: 4px 8px;
}

.navbar {
  background-color: black !important; /* Muda para a cor que desejares */
}

.navbar-title, .navbar-brand {
  color: #0be7d5 !important;
}




